.pioenvs
.clang_complete
.gcc-flags.json
device/Debug
device/data
device/foo.map
frontend/build
frontend/node_modules
frontend/bin
frontend/obj
frontend/.vs
frontend/**/*.js
frontend/**/*.map
*.cache
*.suo
*.user
packages
node_modules
out.txt