<script id="props" class="def" type="text/x-dot-template">
    {{~ it.items:kvp}}
    <div class="kvp">
        <span>
            {{=kvp.key}}
        </span>
        <span>
            {{=kvp.value}}
        </span>
    </div>
    {{~}}
</script>

<script id="buffer" type="text/x-dot-template">
    <table class="grid-header">
        <tr>
            <td>
                Time
            </td>
            <td>
                SenderId
            </td>
            <td>
                Type
            </td>
            <td>
                Value
            </td>
        </tr>
        {{~ it:kvp}}
        <tr>
            <td>
                {{=kvp.value.time}}
            </td>
            <td>
                {{=kvp.value.senderId}}
            </td>
            <td>
                {{=kvp.value.type}}
            </td>
            <td>
                {{=kvp.value.value}}
            </td>
        </tr>
        {{~}}
    </table>
</script>

<script id="therm" type="text/x-dot-template">
    <h1>Thermometer</h1>
    {{#def.props}}
</script>