<script id="plugins" type="text/x-dot-template">
    <h1>Plugin list</h1>
    {{~it.apis :a}}
    <div class="index-api">
        <span>{{=a.data.name}}</span>
        <span>({{=a.data.id}})</span>
        <span>{{? ~~a.data.running}}Running{{??}}Not running{{?}}</span>
        <span><button class="toggle-on-off">On/Off</button></span>
    </div>
    {{~}}
</script>
<script id="restart" type="text/x-dot-template">
    <h1>Restart</h1>
    <div class="core-buttons">
        <span><button class="core-reload">Reload</button></span>
        <span><button class="core-restart">Restart</button></span>
        <span><button class="core-reset">Reset</button></span>
    </div>
</script>

<script id="scan" type="text/x-dot-template">
    <span>{{=it.ssid}}</span>
    <span>({{=it.channel}})</span>
    <span style="display:none">{{=it.BSSIDstr}}</span>
    <span>{{=it.q}}%</span>
</script>

<script id="wifi" type="text/x-dot-template">
    <h1>Wifi setup</h1>
    <form class="form-wifi">
        <fieldset>
            <legend>Scan result</legend>
            <div class="wifi-scan">
            </div>
            <button class="wifi-scan-btn">Scan</button>
        </fieldset>
        <fieldset>
            <legend>Selected network</legend>
            <input type="hidden" name="off" />
            <div class="pair">
                <label for="ssid">SSID</label><input name="ssid" />
            </div>
            <div class="pair">
                <label for="pwd">Password</label><input name="pwd" />
            </div>
            <input type="submit" value="Send" />
        </fieldset>
    </form>
</script>

<script id="ssdp" type="text/x-dot-template">
    <h1>SSDP setup</h1>
    <form class="form-wifi">
        <fieldset>
            <legend>Description</legend>
            <input type="hidden" name="off" />
            <div class="pair">
                <label for="name">Name</label><input name="name" />
            </div>
            <input type="submit" value="Send" />
        </fieldset>
    </form>
</script>


<script id="ssdp" type="text/x-dot-template">
    <h1>Thermo setup</h1>
    <form class="form-thermo">
        <fieldset>
            <legend>Description</legend>
            <input type="hidden" name="off" />
            <div class="pair">
                <label for="name">Interval</label><input name="interval" />
                <label for="name">Buffer Size</label><input name="size" />
            </div>
            <input type="submit" value="Send" />
        </fieldset>
    </form>
</script>