/*---------------------------------------------------
    Threm styles
  ---------------------------------------------------
*/
nav,
nav ul,
nav ul li,
nav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav:after,
nav > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
nav {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
nav ul {
  background: #ffffff;
}
nav > ul > li {
  float: left;
}
nav.align-center > ul {
  font-size: 0;
  text-align: center;
}
nav.align-center > ul > li {
  display: inline-block;
  float: none;
}
nav.align-right > ul > li {
  float: right;
}
nav.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
nav > ul > li.active > a,
nav > ul > li:hover > a,
nav > ul > li > a:hover {
  color: #ffffff;
}
nav > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
nav > ul > li.active > a:after,
nav > ul > li:hover > a:after,
nav > ul > li > a:hover:after {
  background: #47c9af;
}
@media (min-width: 500px) {
  nav > ul > li > a {
    z-index: 2;
    padding: 18px 25px 12px 25px;
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  nav > ul > li > a {
    z-index: 2;
    padding: 2vw 3vw 1vh 3vw;
    font-size: 2vw;
  }
}
nav > ul > li > a {
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
form fieldset {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px #47c9af solid;
  margin-top: 4px;
}
form fieldset legend {
  padding: 5px;
  background: white;
  border-left: 2px #47c9af solid;
  border-right: 2px #47c9af solid;
  border-top: 2px #47c9af solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form select,
form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]),
form textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  border: 2px #47c9af solid;
  padding: 5px;
  margin: 5px;
  -webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}
form select:hover,
form input:hover:not([type=checkbox]):not([type=radio]),
form textarea:hover {
  -webkit-box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5);
}
form button,
form input[type=submit],
form input[type=reset] {
  background: #6cb1ee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4f85b2), color-stop(1, #bce6ff));
  background: -ms-linear-gradient(bottom, #4f85b2, #bce6ff);
  background: -moz-linear-gradient(center bottom, #4f85b2 0%, #bce6ff 100%);
  background: -o-linear-gradient(#bce6ff, #4f85b2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bce6ff', endColorstr='#4f85b2', GradientType=0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  border: 0;
  min-height: 30px;
  min-width: 80px;
  margin: 5px;
}
form button:hover,
form input[type=submit]:hover,
form input[type=reset]:hover {
  background: #6cb1ee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4f85b2), color-stop(1, #bcfbff));
  background: -ms-linear-gradient(bottom, #4f85b2, #bcfbff);
  background: -moz-linear-gradient(center bottom, #4f85b2 0%, #bcfbff 100%);
  background: -o-linear-gradient(#bcfbff, #4f85b2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcfbff', endColorstr='#4f85b2', GradientType=0);
}
form button:active,
form input[type=submit]:active,
form input[type=reset]:active {
  background: #6cb1ee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bce6ff), color-stop(1, #4f85b2));
  background: -ms-linear-gradient(bottom, #bce6ff, #4f85b2);
  background: -moz-linear-gradient(center bottom, #bce6ff 0%, #4f85b2 100%);
  background: -o-linear-gradient(#4f85b2, #bce6ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85b2', endColorstr='#bce6ff', GradientType=0);
}
form input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  vertical-align: bottom;
}
form input[type=radio] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
form .pair {
  white-space: nowrap;
}
form .vertical .pair {
  display: inline;
}
form .pair > label:first-child {
  display: inline-block;
  width: 100px;
}
body {
  overflow-y: scroll;
}
body .overlay-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}
body .overlay-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(100, 100, 100, 0.5);
  display: none;
}
body .overlay-loader svg {
  float: right;
}
body .content .header,
body .content .footer {
  width: 100%;
  position: fixed;
  z-index: 100;
}
body .content .header {
  top: 0;
  height: 70px;
}
body .content .footer {
  bottom: 0;
  background-color: white;
}
body .content .footer div.notification div {
  display: inline;
  clear: none;
}
body .content .footer div.notification button {
  clear: none;
}
body .content .window-manager .page {
  margin-top: 70px;
  clear: none;
  display: block;
  position: absolute;
  left: 5%;
  width: 90%;
  min-height: 200px;
  padding: 0 5px 35px 5px;
}
/*# sourceMappingURL=style.css.map */